---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---


<ContentSection title="Programación del evento" id="agenda">  
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">    
    <button id="btn-day1"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4 button-selected" 
    >
      <Icon name="mdi:teacher" class="size-8" />
      <span>Día 1 (Abril. 18)</span>
    </button>
    <button id="btn-day2"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:speak" class="size-8" />
      <span>Día 2 (Abril. 19)</span>
    </button>
  </div>  
  <div id="day1-table" class="table-container active">
    <table>    
      <tr>
        <th>Hora</th>
        <th>Sesiones</th>
      </tr>      
      <tr>
        <td>09:00</td>
        <td>Texto para la actividad 1</td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>Texto para la actividad 1</td>
      </tr>
      <tr>
        <td>11:00</td>
        <td>Texto para la actividad 1</td>
      </tr>
      <tr>
        <td>14:00</td>
        <td>Texto para la actividad 1</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Texto para la actividad 1</td>
      </tr>
      <tr>
        <td>16:00</td>
        <td>Texto para la actividad 1</td>
      </tr>      
    </table>
  </div>
  <div id="day2-table" class="table-container" >
    <table>    
      <tr>
        <th>Hora</th>
        <th>Sesiones</th>
      </tr>      
      <tr>
        <td>09:00</td>
        <td>Texto para la actividad 2</td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>Texto para la actividad 2</td>
      </tr>
      <tr>
        <td>11:00</td>
        <td>Texto para la actividad 2</td>
      </tr>
      <tr>
        <td>14:00</td>
        <td>Texto para la actividad 2</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Texto para la actividad 2</td>
      </tr>
      <tr>
        <td>16:00</td>
        <td>Texto para la actividad 2</td>
      </tr>      
    </table>
  </div>
</ContentSection>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const btnDay1 = document.getElementById('btn-day1');
    const btnDay2 = document.getElementById('btn-day2');
    const day1Table = document.getElementById('day1-table');
    const day2Table = document.getElementById('day2-table');

    function toggleTables(showDay1) {
      if (showDay1) {
        day1Table.classList.add('active');
        day2Table.classList.remove('active');
        btnDay1.classList.add('button-selected');
        btnDay2.classList.remove('button-selected');
      } else {
        day2Table.classList.add('active');
        day1Table.classList.remove('active');
        btnDay2.classList.add('button-selected');
        btnDay1.classList.remove('button-selected');
      }
    }

    btnDay1.addEventListener('click', () => toggleTables(true));
    btnDay2.addEventListener('click', () => toggleTables(false));

    // Inicializar con la tabla del día 1 activa
    toggleTables(true);
  });
</script>

<style>
.table-container {
  max-height: 0; /* Asegurarse de que no ocupa espacio cuando está oculta */
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: max-height 0.5s, opacity 0.5s, visibility 0s 0.5s, transform 0.5s;
  overflow: hidden;
}

.table-container.active {
  max-height: 1000px; /* Aumentar para permitir suficiente espacio para la tabla */
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
  transition: max-height 0.5s, opacity 0.5s, visibility 0s, transform 0.5s;
}

  .button-selected {
    background-color: #2898ee; /* Azul claro y vibrante */
    color: white;
  }
  
  /* Estilo General de la Tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Sombra sutil para dar profundidad */
    overflow: hidden; /* Para bordes redondeados en las esquinas */
    border-radius: 10px; /* Esquinas redondeadas */    
  }
  
  /* Estilos para las Celdas de la Tabla */
  th, td {
    padding: 12px 15px; /* Espaciado interno generoso */
    text-align: left; /* Alineación del texto */
    border-bottom: 1px solid #107acc; /* Línea divisoria en un tono de azul intermedio */
  }
  
  /* Estilos para los Encabezados de la Tabla */
  th {
    background-color: #107acc; /* Color de fondo azul intermedio para los encabezados */
    color: white; /* Texto en color blanco para alto contraste */
    font-size: 16px; /* Tamaño de letra más grande para los encabezados */
  }
  
  /* Estilo para las Filas al Pasar el Mouse */
  tr:hover {
    background-color: #e7f2fd; /* Color de fondo al pasar el mouse, un azul muy claro */
  }
  
  /* Estilo para la Primera Columna (Hora) */
  td:first-child {
    color: #2898ee; /* Color azul claro y vibrante para las horas */
    font-weight: bold; /* Texto en negrita para destacar */
  }
  
  /* Estilo para las Filas Impares */
  tr:nth-child(odd) {
    background-color: #e7f2fd; /* Color de fondo para las filas impares, un azul muy claro */
  }
  
  /* Estilo para las Filas Pares */
  tr:nth-child(even) {
    background-color: #f8faff; /* Color de fondo para las filas pares, aún más claro */
  }
  td:last-child{
    color: #15297c; /* Un azul oscuro para destacar la última columna */
  }
  #day2-table {
  margin-top: -20px; /* Ajusta este valor según sea necesario */
}
#day1-table {
  margin-top: -10px; /* Ajusta este valor según sea necesario */
}
</style>
  

