<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
/>

<footer class="footer-section">
  <div class="footer-content">
    <div class="footer-block">
      <img
        src="src/assets/globalAzure2024.png"
        alt="Logo"
        class="footer-logo"
      />
      <p style="font-size: medium">
        Global Azure 2024 es un evento global para aprender sobre Azure, y sobre
        las últimas tendencias tecnológicas.
      </p>
      <p style="font-size: medium">
        En Ecuador, el evento está organizado por Microsoft UCuenca, en conjunto
        con Universidad de Cuenca. <br /> ¡La experiencia será realmente increíble!
      </p>
    </div>
    <div class="footer-block">
      <h3>MICROSOFT UCENCA</h3>
      <ul>
        <li>
          <a href="https://microsoftucuenca.org/" target="_blank"
            ><i class="fas fa-globe"></i> Sitio web</a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/MicrosoftUCuenca" target="_blank"
            ><i class="fab fa-facebook"></i> Facebook</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/microsoftucuenca/" target="_blank"
            ><i class="fab fa-instagram"></i> Instagram</a
          >
        </li>
        <li>
          <a href="https://twitter.com/MicrosoftUC" target="_blank"
            ><i class="fab fa-twitter"></i> Twitter</a
          >
        </li>
      </ul>
    </div>

    <div class="footer-block">
      <h3>UNIVERSIDAD DE CUENCA</h3>
      <ul>
        <li>
          <a href="https://www.ucuenca.edu.ec/" target="_blank"
            ><i class="fas fa-globe"></i> Sitio web</a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/ucuenca" target="_blank"
            ><i class="fab fa-facebook"></i> Facebook</a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/udecuenca/" target="_blank"
            ><i class="fab fa-instagram"></i> Instagram</a
          >
        </li>
        <li>
          <a href="https://twitter.com/udecuenca" target="_blank"
            ><i class="fab fa-twitter"></i> Twitter</a
          >
        </li>
      </ul>
    </div>

    <div class="footer-block">
      <h3>PORTAL WEB</h3>
      <p style="font-size: medium">Construido por:</p>
      <p style="font-size: medium">Microsoft UCuenca Community</p>

      <p style="font-size: medium">
        Email: <a href="mailto:comunidad.microsoft@ucuenca.edu.ec"
          >comunidad.microsoft@ucuenca.edu.ec</a>
      </p>

      <div class="social-links">
        <a
          href="https://www.linkedin.com/in/marcelo11avila/"
          class="social-link"
          target="_blank"
        >
          <i class="fab fa-linkedin"></i> Marcelo Avila.
        </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div style="width: 100%;">Global Azure Ecuador 2024</div>
    <div class="footer-to-top">
      <a href="#top"><span>↑</span></a>
    </div>
  </div>
</footer>

<script>
  // Función para mostrar el botón al desplazarse
  function scrollFunction() {
    const button = document.querySelector(".footer-to-top");
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      button.style.display = "flex";
    } else {
      button.style.display = "none";
    }
  }

  // Evento de desplazamiento
  window.onscroll = function () {
    scrollFunction();
  };
</script>

<style>
 /* Estilo base para el footer */
.footer-section {
  background: #0a192f; /* Un azul oscuro similar al de la imagen */
  color: #8892b0; /* Un gris claro para el texto */
  padding: 2rem 0; /* Ajusta el padding según sea necesario */
  font-family: "Roboto", sans-serif;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.footer-block {
  flex: 1;
  min-width: 250px; /* Asegura un ancho mínimo para cada bloque */
  margin-bottom: 1rem;
}

.footer-block h3 {
  color: #ccd6f6; /* Un color más claro para los títulos */
  margin-bottom: 0.5rem;
}

.footer-block ul {
  list-style: none;
  padding: 0;
}

.footer-block ul li a {
  display: block; /* Hace que los enlaces llenen el ancho del contenedor */
  color: #8892b0;
  text-decoration: none;
  padding: 0.25rem 0; /* Añade un poco de padding para hacer los enlaces más grandes */
}

.footer-block ul li a i {
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.footer-block ul li a:hover {
  color: #64ffda; /* Cambia el color al pasar el ratón por encima */
}

.footer-logo {
  max-width: 150px; /* Tamaño del logo */
  margin-bottom: 1rem;
}

.social-links a {
  color: #8892b0;
  text-decoration: none;
  padding: 0.25rem 0; /* Añade un poco de padding */
}

.social-links a:hover {
  color: #64ffda;
}

.footer-bottom {
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid #233554; /* Una línea para separar */
  font-size: 0.9rem;
}

.footer-to-top {
  display: none; /* Se muestra solo cuando se desplaza hacia abajo */
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: #64a5ff;
  color: #0a192f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-block {
    width: 80%; /* Ajusta esto según lo que necesites */
    max-width: none; /* Quita el máximo ancho para permitir flexibilidad */
    text-align: center;
  }

  .footer-logo {
    width: 120px; /* Reduce el tamaño del logo para pantallas más pequeñas */
  }

  .footer-bottom {
    flex-direction: column;
    font-size: 0.8rem;
  }

  .footer-to-top {
    width: 35px;
    height: 35px;
  }
}

</style>
