---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const patrocinadores: Array<CompatibilityItem> = [
  {
    title: "Microsoft",
    icon: "/src/assets/patrocinadores/icons8-microsoft.svg", // Cambia a la ruta de tu ícono
    url: "https://www.microsoft.com/es-ec/",
  },
  {
    title: "Universidad de Cuenca",
    icon: "/src/assets/patrocinadores/UCuenca.png",
    url: "https://www.ucuenca.edu.ec/",
  },
  // {
  //   title: "PayPhone",
  //   icon: "/src/icons/patrocinadores/payphone.png",
  //   url: "https://www.payphone.com.ec/",
  // },  
  // {
  //   title: "CEDIA",
  //   icon: "/src/icons/patrocinadores/CEDIA.png",
  //   url: "https://cedia.edu.ec/",
  // },
  // {
  //   title: "Axon Smart Tech",
  //   icon: "/src/icons/patrocinadores/axon.png",
  //   url: "https://www.axonecuador.com/",
  // },
  // {
  //   title: "DOS Visión sin Límites",
  //   icon: "/src/icons/patrocinadores/dos.png",
  //   url: "https://www.dos.com.ec/",
  // },
  // {
  //   title: "Netlife",
  //   icon: "/src/icons/patrocinadores/netlife.png",
  //   url: "https://www.netlife.ec/",
  // },
];

---

<ContentSection title="Auspiciantes" id="patrocinadores">
  <Fragment slot="lead">   
    ¡Gracias a <span class="text-primary">ellos</span> toda esta <span class="text-primary">experiencia</span>  es posible! 
  </Fragment>
  <CompatibilityList
    items={patrocinadores}
    title="Patrocinadores"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />  
</ContentSection>
