---
import { Image } from "astro:assets";
import globalAzure from "~/assets/globalAzure2024.png";
import Starfield from "~/components/starfield.astro";
import newIcon from "~/assets/microsoft.png";
const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40"></div>
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2
      class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"
    >
      <Image
        class="image-responsive"
        src={newIcon}
        alt="Your new icon description"
      />

      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
      >
        Global Azure
        <br /> Ecuador
        <br /> 2024
      </div>
    </h2>
    <div
      id="globalazure"
      class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start"
    >
      <Image
        class="h-full w-full object-cover"
        src={globalAzure}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating globalAzure in a space suit"
      />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  /* Aplica estilos a la imagen para asegurarte de que sea responsive */
  .image-responsive {
    width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    object-fit: contain; /* Asegura que toda la imagen se ajuste dentro de su contenedor sin cortarse */
  }

  /* Ajustes de responsive para la imagen y el texto */
  @media (max-width: 640px) {
    .size-30 {
      width: 100%; /* Ajusta la imagen para que use todo el ancho disponible en pantallas pequeñas */
      margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas si es necesario */
    }

    .text-8xl {
      font-size: 4rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }
  }

  /* Estilos adicionales para controlar la animación y la visualización en no-js */
  @media (prefers-reduced-motion: reduce) {
    #globalazure {
      animation: none; /* Detiene la animación si el usuario prefiere reducir el movimiento */
    }
  }

  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #globalazure {
    animation: float linear 2s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
  .size-30 {
    margin-left: 60px; /* Ajusta este valor según sea necesario */
  }
</style>
